[submodule "KAMP4IS"]
	path = KAMP4IS
	url = https://github.com/KAMP-Research/KAMP4IS
[submodule "KAMP4BP"]
	path = KAMP4BP
	url = https://github.com/KAMP-Research/KAMP4BP
[submodule "KAMP4REQ"]
	path = KAMP4REQ
	url = https://github.com/KAMP-Research/KAMP4REQ
[submodule "KAMP4APS"]
	path = KAMP4APS
	url = https://github.com/KAMP-Research/KAMP4APS
[submodule "Toometa"]
	path = Toometa
	url = https://github.com/KAMP-Research/Toometa
